*{
    margin: 0;
    top: 0;
    box-sizing: border-box;

}

h1{
    align-items: center;
    display: flex;
    justify-content: center;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}